.smui-bottom-app-bar {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	--smui-bottom-app-bar--fab-offset: 0px;
}

.mdc-top-app-bar__title {
	font-size: small;
}

.smui-accordion .smui-accordion__panel > .smui-accordion__header {
	height: 60px;
}

body {
	overflow-y: auto;
}
