.smui-bottom-app-bar {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	--smui-bottom-app-bar--fab-offset: 0px;
	background-color: #605f80;
	background-color: var(--mdc-theme-primary, #605f80);
}

.smui-paper.smui-paper--color-primary.smui-paper--unelevated {
	background-color: whitesmoke;
}

.mdc-top-app-bar__title {
	font-size: small;
}

.smui-accordion .smui-accordion__panel > .smui-accordion__header.smui-accordion__header__title {
	height: 65px;
	padding: 0x 5px;
}

.smui-accordion .smui-accordion__panel.smui-accordion__panel--open > .smui-paper__content {
	height: auto;
	padding: 8px 5px;
}
body {
	overflow-y: auto;
}

.mdc-top-app-bar {
	background-color: #9eb2cc;
	background-color: var(--mdc-theme-primary, #9eb2cc);
}
.form-field-container {
	width: 0;
}
